#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#header {
  position: absolute;
  z-index: 1;
  width: 80% vw;
  background-color: rgb(1, 1, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

#chartbox {
  position: absolute;
  z-index: 1;
  width: 10%;
  height: 100%;
  background-color: rgba(24, 28, 24, 0.7);
  color: rgb(206, 252, 244);
  padding: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.bolded {
  font-weight: bold;
}

body {
  background: #1d1f20;
  padding: 0px;
  width: 25%;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.button {
  background-color: #77dcb7; /* Green */
  border: none;
  color: white;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 10%;
}

.Button {
  color: rgb(255, 255, 255);
  background-color: #77dcb7; /* Green */
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 30px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}
